body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('../imagens/volverAlFuturo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    margin: 0;
    padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
