.divText{
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    padding: 20px;
    gap: 10px;
}

.divText span{
    color: #ffff;
    text-shadow: 2px 2px 0 blue, -2px -2px 0 violet;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
    height: 35px;
    align-items: center;
}
.divText input {
    color: slateblue;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    
    width: 150px;
    height: 35px;
    border: none;
    border-radius: 6px;
    padding:0px;
}

.divText button {
    color: white;
    font-size: 18px;
    font-weight: bold;

    width: 150px;
    height: 35px;
    background-color: steelblue;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.divText button:hover {
    background-color: violet;
    color: rgba(8, 0, 0, 0.781);
    font-weight: bold;
    transition: 0.3s ease;
}