.card {
    border-radius: 10px;
}


/*TODO: CORREGIR EL ESPACIO DEL TEXTO */
.containerText {
    position: relative;
    background-color:white;
    border: 1px solid steelblue;
    overflow: hidden;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 10px;
    width: 220px;
    height: 50%;
    border-radius: 50px;
    opacity: 0.70;
    z-index: -1;
}

.containerImage {
    position: relative;
    top: +10%;
    left: +5%;
}
.image {
    justify-content: center;
    width: 200px;
    border-radius: 100px;
}
.image:hover{
    transition: box-shadow 0.3s ease;
    box-shadow: 0 0 50px rgba(255, 255, 255 , 1);
}

.button {
    background-color: violet;
    padding: 1px 2px;
    border-radius: 30%;
    border: none;
    color: white;
    font-weight: bold;
    font-size: larger;

    float:right;
    opacity: 0.3;
}

.button:hover {
    opacity: 1;
    background-color: red;
}

.name {
    text-transform: uppercase;
    color: steelblue;
    font-weight: bolder;
}

.link{
    text-decoration:none;
}
