.searchBar {
    display: flex;
    justify-content: center;
}

label {
    display: flex;
    font-size: 25px;
    background-color: steelblue;
    margin-right: 10px;
    border-radius: 4px;
    padding-right: 10px;
    animation: colorChange 2s alternate infinite;
}
@keyframes colorChange {
    0% { color: rgb(255, 255, 255); }
    25% { color: #FB9F89; }
    50% { color: #c4af9a; }
    75% { color: #81ae9d; }
    100% { color: #21A179; }
  }

button {
    padding: 5px 20px;
    font-size: 18px;
    background-color: #348a37bb;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}
button:hover{
    background-color: magenta;
    color:black;

}