.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 10%;
    box-shadow: 0 0 40px green;
    margin-bottom: 20px;
}

.form {
    width: 500px;
    padding: 20px;
    border: 5px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    
}

.form input[type="text"],
.form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.form input[type="radio"] {
    margin-bottom: 10px;
}

.etiqueta{
    width: 150px;
    margin-bottom: 10px;
    
}

.form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

 .mostrarDiv{
    color: red;
 }

 .ocultarDiv{
    display: none;
 }