/*todo Mejorar barra anclada de navegación*/
.nav{
    position: fixed;
    z-index: 1;
    /*background-image: url("barraNav.png");*/
    background-color:rgb(25, 68, 104);
    top:0;
    left: 0;
    width: 100%;
    height: 30px;
    padding-bottom: 10px;
    opacity: 1;
}
.navButton {
    color: white;
    font-size: 14px;

    width: 80px;
    height: 20px;
    margin: 10px;
    background-color: steelblue;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}

.navButton:hover{
    background-color: violet;
    color:rgba(8, 0, 0, 0.781);
    font-weight: bold;
    transition: 0.3s ease;
}