.container {
    display: flex;
    flex-flow: wrap row;
    gap: 1%;
    justify-content: center;
}

.containerText {
    margin-top: 100px;
    box-sizing: border-box;
    width: 45%;
    padding: 30px;
    color: whitesmoke;
}

.containerText a {
    text-decoration: none;
    color: yellow;
    font-size: x-large;
}

.containerImg {
    box-sizing: border-box;
    width: 45%;
    padding: 30px;
    position: relative;
}

.containerImg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image {
    justify-content: center;
    width: 200px;
    border-radius: 100px;
}